/* leksah stylesheet */

body	{ 
	font-family: verdana; 
	font-size: 10pt; 
   	background-color: 	#555753;
/*	background-image: url(images/background1.png); */
	color:			#494F5B;
	margin: 0; 
	padding: 0; 
}

td	{
	font-size: 10pt;  
}

p 	{ 	
	font-size: 10pt;  
	margin-bottom: 7px; 
	margin-top: 0; 
	color: #CCCCCC;  
}

a	{ 
	color: #72A2BB;
	text-decoration: none; 
}

a:hover	{ 
	text-decoration: underline; 
	color: #959984;   
}

form	{	
	margin:0;
}

#header{	
	width:860px; 
	margin-left:auto; 
	margin-right:auto;
}

#header ul{ 
	margin: 0; 
	padding-left: 0; 
	height: 44px; 
	line-height: 44px; 
	display: block; 
	list-style: none; 
	background-color:	#2E3436;
	background-image: url(images/bg_topnav-grey.png);
	background-repeat: no-repeat;  
}

#header li{ 
	display: inline; 
	background-color:	#2E3436; 
	float: right;  
}

#header li a{ 
	height: 44px; 
	line-height: 44px; 
	display: block; 
	padding-left: 17px; 
	padding-right: 17px; 
	border-left: 1px solid Black;  
	float: left;     
}

#header li a:hover{ 
/* 	background-color: #444444; */
    	background-color: 	#2E3436;
	text-decoration: none;
/*	background-image: url(images/background1.png);*/ 
}

#header .visual{ 
	height:140px; 
	background-image: url(images/leksah-website-banner-grey-860-140px.png);  
	background-repeat: no-repeat;  
    	background-color: 	#2E3436;
/*	border-top: 3px solid Black;*/   
}

h1	{ 
	margin: 0; 
	padding: 40px 0 0 0; 
	font-family: verdana;
	font-weight: normal; 
	letter-spacing: .005em; 
	color: #FBE84E;  
	font-size: 20pt;  
}

#content{ width:860px; 
	margin-left:auto; 
	margin-right:auto;
	color: #CCCCCC;  
}

#content h1{ 
	margin: 0; 
	padding: 24px 0 7px 0px; 
	font-family: verdana;
	font-weight: normal; 
	letter-spacing: .005em; 
	color: #FBE84E; 
	font-size: 15pt; 
}

#text {	padding: 15px 40px 15px 40px; 
	border-bottom: 1px solid #484848; 
	border-top: 1px solid #484848; 
	background-color:	#2E3436;
}

#text p{	
	margin-bottom: 1em;
}

#text h1{ 
	margin: 0; 
	padding: 15px 0 7px 0px; 
	font-family: verdana; 
	font-weight: normal; 
	letter-spacing: .005em; 
	color: #FBE84E; 
	font-size: 15pt; 
}

#text h2{ 
	margin: 0; 
	padding: 8px 0 7px 5px; 
	font-family: verdana;
	font-weight: normal; 
	letter-spacing: .005em; 
	color: #FBE84E; 
	font-size: 13pt; 
}

#footer {	
	width:860px; 
	margin-top:27px; 
	margin-left:auto; 
	margin-right:auto;  
	border-top: 4px solid #363636;  
	text-align: right;  
	padding-top: 5px;   
}

#footer p{ 
	font-size: 11px; 
	line-height: 14px; 
	margin: 0;  
	color: #DDDDDD; 
}

#footer a{ 
	font-size: 11px;	
	font-weight: normal;	
	text-decoration: none;  
	color: White;   
}

#footer a:hover{ color: #FBE84E; text-decoration: underline; }
